# Ignorar el archivo de configuración de la base de datos
.env

# Ignorar carpetas específicas
/Frontend/node_modules/
/Backend/env/
/Backend/app/__pycache__/
/Backend/app/models/__pycache__/
/Backend/app/schemas/__pycache__/
/Backend/app/routes/__pycache__/
